<h1>{{title}}</h1>
<form action="/updateKanatuntaInfo" method="post">
    <label for="id">{{user.id}}
        <input type="text" name="id" value={{user.id}} hidden />
    </label>
    <label for="first_name">First name:
        <input type="text" name="first_name" value={{user.first_name}} />
    </label>

    <label for="last_name">Last name:
        <input type="text" name="last_name" value={{user.last_name}}>
    </label>

    <label for="email">Email:
        <input type="text" name="email" value={{user.email}}>
    </label>

    <input type="submit" value="Submit" />
</form>