<h1>{{title}}</h1>
{{#if error}}<span>{{error}}</span>{{/if}}
{{#if user.first_name}}
<p>Hello, {{user.first_name}}</p>
<p>name: {{user.first_name}} {{user.last_name}}</p>
<p>email:{{user.email}}</p>
{{else}}
<p class='upper'>No one find with this <srong>Id</srong></srong></p>
{{/if}}

